html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-spacing:0;border-collapse:collapse}
/*end reset*/

@font-face{font-family:CustomFont;src:url('fonts/LetterGothicStd.otf') format('opentype')}@font-face{font-family:CustomFontBold;src:url('fonts/LetterGothicStd-Bold.otf') format('opentype')}

html {width: 100%;height: 100%;}

body {width: 100%; height: 100%; background: #fff; font-family: "CustomFont", "Letter Gothic Std","Lucida Sans Unicode", monospace;}


#title {
	color:rgb(51,51,51);
	font-family:helvetica;
	font-size:100px;
	font-weight: bold;
	position:fixed;
	left:23px;
	top:23px;
	min-width:620px;
	display:block;
	border: 10px solid rgb(51,51,51);
	padding: 32px;
	margin-right:32px;
	height: 100px;
	/*background-color: rgba(255,255,255,0.5883307);*/
	padding: 20px;
}

#textblock {
	color: #131313;
	position:fixed;
	min-width:640px;
	max-width:635px;
	left:23px;
	top:182px;
	display:block;
	margin-right:32px;
	font: bold 26px/28px helvetica;
	
	padding: 20px;
	background-color: rgba(0,249,0,0.7);	

}

#textblock a, #footer a {
	color: #131313;
	font-weight: bold;
	text-decoration: underline;
}

#textblock a:hover, #footer a:hover {
	color: #131313;
}

p {
	margin-bottom: 20px;
}

#canlogo img {
	float: left;
	width: 220px;
	margin-right: 40px;
}

#uallogo img {
	float: left;
	width: 300px;
	margin-top: 18px;
}

p.credits {
	font-size: 14px;
}



#footer {
	color: #131313;
	font-family:helvetica;
	font-size: 14px;
	font-weight: bold;
	position:fixed;
	left:23px;
	bottom:23px;
	display:block;
	margin-right:32px;
	width: 100%;
	/*height: 100px;*/
}

#col1 {
	float: left;
	width: 50%;

}

#col2, #col3 {
	float: left;
	width: 25%;
	margin-top: 13px;
}

#col3 img {
	width: 20px;
	margin-top: 0px;

}
